* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero {
  background-image: url(heading-bg.jpg);
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 350px;
}

header nav {
  background-color: white;
  padding: 15px;
  width: 96%;
  border-radius: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
  position: fixed;
}

nav label {
  display: none;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

header a {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px;
  font-weight: 600;
  transition: all 0.2s linear;
}

header a:hover {
  background-color: rgb(116, 83, 252);
  border-radius: 40px;
  color: white;
}

.hero1 {
  text-align: center;
  padding-top: 200px;
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.hero1 h5 {
  font-size: 18px;
  font-weight: 400;
}
.hero1 h6 {
  font-size: 18px;
  font-weight: 400;
}
.hero1 span {
  color: rgb(116, 83, 252);
}

.content1 {
  display: flex;
  justify-content: space-around;
}
.content1 div img {
  width: 100%;
  border-radius: 20px;
  border: none;
}

.content2head {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.content2head h2 {
  color: rgb(116, 83, 252);
}
.content2head span {
  color: rgb(116, 83, 252);
}

.content2 {
  background-image: url(dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 100px;
  padding-bottom: 120px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form input {
  background-color: rgb(35, 35, 45);
  padding: 10px;
  border-radius: 50px;
  border: 1px solid rgb(163, 163, 163);
}

select {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid rgb(163, 163, 163);
  color: rgb(136, 136, 136);
  background-color: rgb(35, 35, 45);
}

#search {
  color: white;
}

.content2img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.content2img button {
  padding: 13px;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  background-color: rgb(116, 83, 252);
  color: white;
  font-weight: 500;
  transition: all 0.2s linear;
}
.content2img button a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.content2img .c2d1 {
  gap: 20px;
  display: flex;
  padding: 20px;
  background-color: rgb(40, 43, 47);
  border: 1px solid rgb(51, 51, 51);
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.content2img .c2d1 img {
  border-radius: 20px;
}
.content2img .c2d2, .content2img .c2d7, .content2img .c2d6, .content2img .c2d5, .content2img .c2d4, .content2img .c2d3 {
  padding: 20px;
  background-color: rgb(40, 43, 47);
  border: 1px solid rgb(51, 51, 51);
  border-radius: 20px;
}
.content2img .c2d2 img, .content2img .c2d7 img, .content2img .c2d6 img, .content2img .c2d5 img, .content2img .c2d4 img, .content2img .c2d3 img {
  border-radius: 20px;
}
.content2img .c2d4 {
  justify-content: center;
}
.content2img button:hover {
  background-color: white;
  color: rgb(116, 83, 252);
}
.content2img button:hover a {
  color: rgb(116, 83, 252);
}

.content3 {
  background-image: url(main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 120px;
  padding-bottom: 130px;
}

.c3authors {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.c3author1, .c3author3, .c3author2 {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.c3author1 img, .c3author3 img, .c3author2 img {
  border-radius: 100%;
}

footer {
  background-color: rgb(116, 83, 252);
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .foot1 {
  text-align: center;
}
footer img {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
footer p {
  color: white;
  font-size: 20px;
}
footer h4 {
  font-size: 40px;
  color: rgb(42, 39, 62);
}
footer i {
  border-radius: 100%;
  font-size: 40px;
  color: rgb(42, 39, 62);
  transition: all 0.1s linear;
}
footer .footp {
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
}
footer .footcopy {
  color: rgb(255, 255, 255);
  background-color: rgba(42, 39, 62, 0.41);
  border-radius: 50px;
  padding: 10px;
}
footer .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
footer .contact .contact2 {
  color: rgb(42, 39, 62);
}

.contact i:hover {
  color: white;
}

#click {
  display: none;
}

@media screen and (max-width: 845px) {
  nav label {
    display: block;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    background-color: #ffffff;
    width: 95%;
    display: none;
    text-align: center;
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li a {
    color: rgb(42, 39, 62);
  }
  #click:checked ~ .nav1 nav ul {
    display: block;
  }
}/*# sourceMappingURL=explore.css.map */